@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue.woff2') format('woff2'),
     url('BebasNeue.woff') format('woff'),
     url('BEBASNEUE.OTF') format('otf');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.otf') format('otf'),
     url('Montserrat-Light.woff') format('woff'),
    url('Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.otf') format('otf'),
     url('Montserrat-Regular.woff') format('woff'),
      url('Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.otf') format('otf'),
     url('Montserrat-Medium.woff') format('woff'),
      url('Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.otf') format('otf'), 
    url('Montserrat-SemiBold.woff') format('woff'),
     url('Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.otf') format('otf'),
    url('Montserrat-Bold.woff') format('woff'),
    url('Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.otf') format('otf'),
     url('Montserrat-ExtraBold.woff') format('woff'),
     url('/fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
